@media (max-width:768px){

.navbar{
padding:10px 20px;
}

.nav-links{
display:none;
}

.hero img{
margin-top:10px;
border-radius:10px;
width:100%;
height:auto;
}

.products{
padding:40px 20px;
}

.product{
flex-direction:column;
gap:30px;
text-align:center;
width:100%;
}

.product-image img{
max-width:150px;
width:100%;
height:auto;
}

.product-text{
max-width:100%;
}

.contact-section h2{
font-size:36px;
}

.contact-btn{
font-size:22px;
padding:10px 25px;
}

.footer{
padding:40px 20px;
}

.footer-container{
flex-direction:column;
gap:40px;
text-align:center;
}

.contact-row{
flex-direction:column;
gap:20px;
}

.footer-bottom-container{
flex-direction:column;
gap:40px;
text-align:center;
}

.company-info h2{
font-size:40px;
}

}







