body{
background:#B7DAE8;
font-family:Arial;
text-align:center;
}

.products{
display:flex;
justify-content:center;
gap:40px;
margin-top:50px;
}

.product{
background:white;
padding:20px;
border-radius:10px;
width:200px;
}

.product img{
width:100%;
}

button{
background:#0b4f7c;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;
}
